

/* VARIABLES */

:root {

    --color-primary: #7CB551;
    --color-secondary: #e8e98d;
    --color-third: #f0cb6b;
    --color-fourth: #f6aa48;
    --color-five: #c53245;

}


/* CLASES */

body {
    background-color: #f2f2f2;
}

.green-backgorund{

    background-color: var(--color-primary);
    height: 50vh;
    color: #fffffe;


}

/*
IMAGE ARTICLE 1

*/



#image-section{

    width: 20vw;
    height: 35vh;

}





/* NAVBAR ESTILO */

#logo-nav{
    width: 30px; !important;
}

nav
{
    background-color: var(--color-primary);
}

.navbar .nav-link {
    color: #fffffe; !important;
}

.navbar .navbar-brand{
    color: #fffffe; !important;
}







/*ADMIN SECCION*/

/*TABLAS*/

#tableSection {
    max-width: 95%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3; /* Ajusta este valor al color que prefieras */
}

.table th.border-right,
.table td.border-right {
    border-right: 1px solid #ccc;
}